@*@model IEnumerable<Paragraph>
@{
    ViewData["Title"] = "Главная";
}*@
@*<div class="container">
    <br />
    <vc:cards />
    <partial name="ContentViews/PartialView/ContentLayout" model="Model"/>
    <partial name="ContentViews/PartialView/NeedHelpAndPicturePV" />
    <div class="columns">
        <div class="column is-half">
            <vc:blockquote-section name="SendMessage" />
        </div>
    </div>
</div>*@

