@model CompanyProject.Domain.PageAggregate.Page

@{
    ViewData["Title"] = "Компьютерная помощь";
}
<div class="container">
    <br />
    <div class="columns">
        <div class="column">
            <h4 class="subtitle is-3">Уважаемые клиенты</h4>
            <span>Раздел находится в процессе наполнения. По всем вопросам, пожалуйста, <a href="#short-message">позвоните или напишите</a> нам.</span>
        </div>
    </div>
    <vc:price-list-table page-number="4" is-full="false" />
    <p class="is-size-7">В стоимость услуг <b>не включена</b> стоимость компьютерных комплектующих, расходных материалов, а также всех прочих запасных частей, необходимых для выполнения указанных работ.</p>
    <br />
</div>
