@model CompanyProject.Domain.Page.Page

@{
    ViewData["Title"] = "Главная";
}
<div class="container">
    <br />
    <vc:cards />
    <div class="is-touch-pegging">
    <partial name="ContentViews/PartialView/_ContentLayoutPartial" model="@Model.Paragraphs.OrderBy(p=>p.ParagraphId)" />
    </div>
</div>

