@{
    ViewData["Title"] = "Интернет, WiFi, сети и роутеры";
}
<div class="container">
    <div class="columns">
        <div class="column">
            <h4 class="subtitle is-3">Уважаемые клиенты</h4>
            <span>Раздел находится в процессе наполнения. По всем вопросам, пожалуйста, <a href="#short-message">позвоните или напишите</a> нам.</span>
        </div>
    </div>
    <vc:price-list-table page-number="5" />
</div>
