@model CompanyProject.Domain.CompanyContact.CompanyContact
@{
    ViewData["Title"] = "Контакты";
}

<section style="background-color: ghostwhite">
    <div class="container">
        <div class="columns is-touch-pegging">
            <div class="column is-half">
                <br />
                <h2 class="subtitle is-2" style="color: #d81b60"><b>Контакты</b></h2>
                <p class="is-text-justify">
                    Вы можете обратиться к нам по телефону, написать в WhatsApp, Telegram или по электронной почте.
                    Будем рады помочь Вам и ответить на все Ваши вопросы!
                </p>
            </div>
            <div class="column is-half is-hidden-touch">
                <div class="image displayed" style="max-width: 90%">
                    <br />
                    <img src="~/Resources/Images/contacts.png" alt="Контакты" asp-append-version="true" />
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<article>
    <div class="container">
        <div class="columns is-touch-pegging">
            <div class="column is-full">
                <p class="is-text-justify">
                    <b>"@Model.SimpleCompanyName"</b> - сервисный центр по ремонту и обслуживанию компьютерной техники на всей территории Кавказских Минеральных Вод.
                    Обратитесь к нашим специалистам и получите профессиональную компьютерную помощь. Бесплатные консультации!
                </p> <br />
                <p>Вы можете обратиться к нам по телефону, написать в WhatsApp, Telegram или по электронной почте. Будем рады помочь Вам и ответить на все Ваши вопросы!</p>
            </div>
        </div>
        <div class="columns is-touch-pegging">
            <div class="column is-full content">
                <h3 class="subtitle is-3"><b>Наши контакты</b></h3>
                <ul>
                    <li>
                        <span><i class="fas fa-arrow-alt-circle-right" style="color: #d81b60"></i></span>&nbsp; Телефон: <br />
                        <strong style="padding-left: 1.5625em">@Model.PhoneNumber</strong>
                    </li>
                    <li>
                        <span><i class="fas fa-arrow-alt-circle-right" style="color: #d81b60"></i></span>&nbsp; WhatsApp: <br />
                        <strong style="padding-left: 1.5625em">@Model.WhatsApp</strong>
                    </li>
                    <li>
                        <span><i class="fas fa-arrow-alt-circle-right" style="color: #d81b60"></i></span>&nbsp; Адрес главного сервисного центра: <br />
                        <strong style="padding-left: 1.5625em">@Model.Address</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>