@model CompanyProject.Domain.Message.Message

<form asp-antiforgery="true" id="short-message" class="short-message" novalidate asp-controller="Service" asp-action="AddMessageToDbAsyncTask"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-success="SuccessSendForm"
      data-ajax-failure="FailureSendForm" >
    @Html.Hidden("MessageId", 0)
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="field">
        <div class="columns">
            <div class="column is-half">
                <label class="label" asp-for="PeopleName"></label>
                <div class="control">
                    <input class="input" type="text" id="peple-name" name="PeopleName" asp-for="PeopleName" placeholder="Как к вам обрщаться?"/>
                </div>
                <span asp-validation-for="PeopleName" class="has-text-danger"></span>
            </div>
            <div class="column is-half">
                <label class="label" asp-for="SubjectMessage"></label>
                <div class="control">
                    <input class="input" type="text" id="subject-message" name="SubjectMessage" asp-for="SubjectMessage" placeholder="Тема обращения"/>
                </div>
                <span asp-validation-for="SubjectMessage" class="has-text-danger"></span>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="columns">
            <div class="column is-half ">
                <label class="label" asp-for="Email"></label>
                <div class="control has-icons-left">
                    <input class="input" id="e-mail" name="Email" asp-for="Email" type="email" placeholder="Ваш адрес электронной почты" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span asp-validation-for="Email" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-half ">
                <label class="label" asp-for="MessagerNumber"></label>
                <div class="control has-icons-left">
                    <input class="input phone-number" id="whatsapp-number" name="WhatsAppNumber" asp-for="MessagerNumber" type="tel" placeholder="Ваш номер WhatsApp" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-phone-volume"></i>
                    </span>
                </div>
                <span asp-validation-for="MessagerNumber" class="has-text-danger"></span>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="columns">
            <div class="column is-full">
                <label class="label" asp-for="Content"></label>
                <div class="control">
                    <textarea class="textarea" id="message-content" name="Content" asp-for="Content" data-length="280" rows="4" maxlength="280" minlenght="20"  placeholder="Ваше сообщение (максимум 280 символов)" style="resize: none"></textarea>
                    <div><span asp-validation-for="Content" class="has-text-danger"></span></div>
                    <label class="checkbox">
                        <input  id="privacy-policy" asp-for="IsAdoptedPrivacyPolicy" class="has-text-danger"/>
                        Я принимаю <a href="~/Resources/Files/Политика конфиденциальности.pdf">Политику конфиденциальности</a>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-full">
        <div class=" field is-grouped">
            <div class="control">
                <button name="submit-form" class="button is-primary">Отправить</button>
            </div>
            <div class="control">
                <button id="reset-button"  class="button is-primary is-light" type="reset">Очистить</button>
            </div>
        </div>
        </div>
    </div>
</form>