.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- { color: #dedede; }

.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover { color: #c5c5c5; }

.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- { color: #dedede; }

.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    background: #a2ddf6;
    color: #fff;
}

.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- { background: #8ad5f4; }

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc;
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- { background-color: rgba(92, 196, 239, 0.2); }

.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none;
}

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */

.datepicker--cells {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.datepicker--cell {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 32px;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.datepicker--cell.-focus- { background: #f0f0f0; }

.datepicker--cell.-current- { color: #4EB5E6; }

.datepicker--cell.-current-.-focus- { color: #4a4a4a; }

.datepicker--cell.-current-.-in-range- { color: #4EB5E6; }

.datepicker--cell.-in-range- {
    background: rgba(92, 196, 239, 0.1);
    border-radius: 0;
    color: #4a4a4a;
}

.datepicker--cell.-in-range-.-focus- { background-color: rgba(92, 196, 239, 0.2); }

.datepicker--cell.-disabled- {
    color: #aeaeae;
    cursor: default;
}

.datepicker--cell.-disabled-.-focus- { color: #aeaeae; }

.datepicker--cell.-disabled-.-in-range- { color: #a1a1a1; }

.datepicker--cell.-disabled-.-current-.-focus- { color: #aeaeae; }

.datepicker--cell.-range-from- {
    background-color: rgba(92, 196, 239, 0.1);
    border: 1px solid rgba(92, 196, 239, 0.5);
    border-radius: 4px 0 0 4px;
}

.datepicker--cell.-range-to- {
    background-color: rgba(92, 196, 239, 0.1);
    border: 1px solid rgba(92, 196, 239, 0.5);
    border-radius: 0 4px 4px 0;
}

.datepicker--cell.-range-from-.-range-to- { border-radius: 4px; }

.datepicker--cell.-selected- {
    background: #5cc4ef;
    border: none;
    color: #fff;
}

.datepicker--cell.-selected-.-current- {
    background: #5cc4ef;
    color: #fff;
}

.datepicker--cell.-selected-.-focus- { background: #45bced; }

.datepicker--cell:empty { cursor: default; }

.datepicker--days-names {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0 3px;
}

.datepicker--day-name {
    -ms-flex: 1;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -webkit-flex: 1;
    -webkit-justify-content: center;
    align-items: center;
    color: #FF9A19;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    font-size: .8em;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.datepicker--cell-day { width: 14.28571%; }

.datepicker--cells-months { height: 170px; }

.datepicker--cell-month {
    height: 25%;
    width: 33.33%;
}

.datepicker--years { height: 170px; }

.datepicker--cells-years { height: 170px; }

.datepicker--cell-year {
    height: 33.33%;
    width: 25%;
}

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- { color: #dedede; }

.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover { color: #c5c5c5; }

.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- { color: #dedede; }

.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    background: #a2ddf6;
    color: #fff;
}

.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- { background: #8ad5f4; }

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc;
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- { background-color: rgba(92, 196, 239, 0.2); }

.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none;
}

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */

.datepickers-container {
    left: 0;
    position: absolute;
    top: 0;
}

@media print {
    .datepickers-container { display: none; }
}

.datepicker {
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-sizing: content-box;
    color: #4a4a4a;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    left: -100000px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
    width: 250px;
    z-index: 100;
}

.datepicker.-from-top- {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.datepicker.-from-right- {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}

.datepicker.-from-bottom- {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
}

.datepicker.-from-left- {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
}

.datepicker.active {
    -webkit-transform: translate(0);
    opacity: 1;
    transform: translate(0);
    transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
}

.datepicker-inline .datepicker {
    -webkit-transform: none;
    border-color: #d7d7d7;
    box-shadow: none;
    left: auto;
    opacity: 1;
    position: static;
    right: auto;
    transform: none;
}

.datepicker-inline .datepicker--pointer { display: none; }

.datepicker--content {
    box-sizing: content-box;
    padding: 4px;
}

.-only-timepicker- .datepicker--content { display: none; }

.datepicker--pointer {
    background: #fff;
    border-right: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: -1;
}

.-top-left- .datepicker--pointer, .-top-center- .datepicker--pointer, .-top-right- .datepicker--pointer {
    -webkit-transform: rotate(135deg);
    top: calc(100% - 4px);
    transform: rotate(135deg);
}

.-right-top- .datepicker--pointer, .-right-center- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    -webkit-transform: rotate(225deg);
    right: calc(100% - 4px);
    transform: rotate(225deg);
}

.-bottom-left- .datepicker--pointer, .-bottom-center- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    -webkit-transform: rotate(315deg);
    bottom: calc(100% - 4px);
    transform: rotate(315deg);
}

.-left-top- .datepicker--pointer, .-left-center- .datepicker--pointer, .-left-bottom- .datepicker--pointer {
    -webkit-transform: rotate(45deg);
    left: calc(100% - 4px);
    transform: rotate(45deg);
}

.-top-left- .datepicker--pointer, .-bottom-left- .datepicker--pointer { left: 10px; }

.-top-right- .datepicker--pointer, .-bottom-right- .datepicker--pointer { right: 10px; }

.-top-center- .datepicker--pointer, .-bottom-center- .datepicker--pointer { left: calc(50% - 10px / 2); }

.-left-top- .datepicker--pointer, .-right-top- .datepicker--pointer { top: 10px; }

.-left-bottom- .datepicker--pointer, .-right-bottom- .datepicker--pointer { bottom: 10px; }

.-left-center- .datepicker--pointer, .-right-center- .datepicker--pointer { top: calc(50% - 10px / 2); }

.datepicker--body { display: none; }

.datepicker--body.active { display: block; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- { color: #dedede; }

.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover { color: #c5c5c5; }

.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- { color: #dedede; }

.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    background: #a2ddf6;
    color: #fff;
}

.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- { background: #8ad5f4; }

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc;
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- { background-color: rgba(92, 196, 239, 0.2); }

.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none;
}

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.datepicker--nav {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    border-bottom: 1px solid #efefef;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    min-height: 32px;
    padding: 4px;
}

.-only-timepicker- .datepicker--nav { display: none; }

.datepicker--nav-title,
.datepicker--nav-action {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.datepicker--nav-action {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    border-radius: 4px;
    user-select: none;
    width: 32px;
}

.datepicker--nav-action:hover { background: #f0f0f0; }

.datepicker--nav-action.-disabled- { visibility: hidden; }

.datepicker--nav-action svg {
    height: 32px;
    width: 32px;
}

.datepicker--nav-action path {
    fill: none;
    stroke: #9c9c9c;
    stroke-width: 2px;
}

.datepicker--nav-title {
    border-radius: 4px;
    padding: 0 8px;
}

.datepicker--nav-title i {
    color: #9c9c9c;
    font-style: normal;
    margin-left: 5px;
}

.datepicker--nav-title:hover { background: #f0f0f0; }

.datepicker--nav-title.-disabled- {
    background: none;
    cursor: default;
}

.datepicker--buttons {
    border-top: 1px solid #efefef;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 4px;
}

.datepicker--button {
    -ms-flex: 1;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -webkit-flex: 1;
    -webkit-justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #4EB5E6;
    cursor: pointer;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex: 1;
    height: 32px;
    justify-content: center;
}

.datepicker--button:hover {
    background: #f0f0f0;
    color: #4a4a4a;
}

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- { color: #dedede; }

.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover { color: #c5c5c5; }

.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- { color: #dedede; }

.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    background: #a2ddf6;
    color: #fff;
}

.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- { background: #8ad5f4; }

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc;
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- { background-color: rgba(92, 196, 239, 0.2); }

.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none;
}

/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */

.datepicker--time {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-top: 1px solid #efefef;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 4px;
    position: relative;
}

.datepicker--time.-am-pm- .datepicker--time-sliders {
    -ms-flex: 0 1 138px;
    -webkit-flex: 0 1 138px;
    flex: 0 1 138px;
    max-width: 138px;
}

.-only-timepicker- .datepicker--time { border-top: none; }

.datepicker--time-sliders {
    -ms-flex: 0 1 153px;
    -webkit-flex: 0 1 153px;
    flex: 0 1 153px;
    margin-right: 10px;
    max-width: 153px;
}

.datepicker--time-label {
    display: none;
    font-size: 12px;
}

.datepicker--time-current {
    -ms-flex: 1;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-flex: 1;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    font-size: 14px;
    margin: 0 0 0 10px;
    text-align: center;
}

.datepicker--time-current-colon {
    line-height: 1;
    margin: 0 2px 3px;
}

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 19px;
    line-height: 1;
    position: relative;
    z-index: 1;
}

.datepicker--time-current-hours:after,
.datepicker--time-current-minutes:after {
    background: #f0f0f0;
    border-radius: 4px;
    bottom: -2px;
    content: '';
    left: -2px;
    opacity: 0;
    position: absolute;
    right: -2px;
    top: -3px;
    z-index: -1;
}

.datepicker--time-current-hours.-focus-:after,
.datepicker--time-current-minutes.-focus-:after { opacity: 1; }

.datepicker--time-current-ampm {
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    color: #9c9c9c;
    font-size: 11px;
    margin-bottom: 1px;
    margin-left: 6px;
    text-transform: uppercase;
}

.datepicker--time-row {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 11px;
    height: 17px;
}

.datepicker--time-row:first-child { margin-bottom: 4px; }

.datepicker--time-row input[type='range'] {
    -ms-flex: 1;
    -webkit-appearance: none;
    -webkit-flex: 1;
    background: none;
    cursor: pointer;
    flex: 1;
    height: 100%;
    margin: 0;
    padding: 0;
}

.datepicker--time-row input[type='range']::-webkit-slider-thumb { -webkit-appearance: none; }

.datepicker--time-row input[type='range']::-ms-tooltip { display: none; }

.datepicker--time-row input[type='range']:hover::-webkit-slider-thumb { border-color: #b8b8b8; }

.datepicker--time-row input[type='range']:hover::-moz-range-thumb { border-color: #b8b8b8; }

.datepicker--time-row input[type='range']:hover::-ms-thumb { border-color: #b8b8b8; }

.datepicker--time-row input[type='range']:focus { outline: none; }

.datepicker--time-row input[type='range']:focus::-webkit-slider-thumb {
    background: #5cc4ef;
    border-color: #5cc4ef;
}

.datepicker--time-row input[type='range']:focus::-moz-range-thumb {
    background: #5cc4ef;
    border-color: #5cc4ef;
}

.datepicker--time-row input[type='range']:focus::-ms-thumb {
    background: #5cc4ef;
    border-color: #5cc4ef;
}

.datepicker--time-row input[type='range']::-webkit-slider-thumb {
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    height: 12px;
    transition: background .2s;
    width: 12px;
}

.datepicker--time-row input[type='range']::-moz-range-thumb {
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    height: 12px;
    transition: background .2s;
    width: 12px;
}

.datepicker--time-row input[type='range']::-ms-thumb {
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    height: 12px;
    transition: background .2s;
    width: 12px;
}

.datepicker--time-row input[type='range']::-webkit-slider-thumb { margin-top: -6px; }

.datepicker--time-row input[type='range']::-webkit-slider-runnable-track {
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    height: 1px;
}

.datepicker--time-row input[type='range']::-moz-range-track {
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    height: 1px;
}

.datepicker--time-row input[type='range']::-ms-track {
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    height: 1px;
}

.datepicker--time-row input[type='range']::-ms-fill-lower { background: transparent; }

.datepicker--time-row input[type='range']::-ms-fill-upper { background: transparent; }

.datepicker--time-row span { padding: 0 12px; }

.datepicker--time-icon {
    border: 1px solid;
    border-radius: 50%;
    color: #9c9c9c;
    font-size: 16px;
    height: 1em;
    margin: 0 5px -1px 0;
    position: relative;
    width: 1em;
}

.datepicker--time-icon:after, .datepicker--time-icon:before {
    background: currentColor;
    content: '';
    position: absolute;
}

.datepicker--time-icon:after {
    -webkit-transform: translateY(-100%);
    height: .4em;
    left: calc(50% - 1px);
    top: calc(50% + 1px);
    transform: translateY(-100%);
    width: 1px;
}

.datepicker--time-icon:before {
    height: 1px;
    left: calc(50% - 1px);
    top: calc(50% + 1px);
    width: .4em;
}

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- { color: #dedede; }

.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover { color: #c5c5c5; }

.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- { color: #dedede; }

.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    background: #a2ddf6;
    color: #fff;
}

.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- { background: #8ad5f4; }

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc;
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- { background-color: rgba(92, 196, 239, 0.2); }

.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none;
}