@model IList<CompanyProject.API.Infrastructure.Dto.MainCardDto>
<div class="columns is-multiline">
    @foreach (var card in Model)
    {
        <div class="column is-one-quarter ">
            @if (card.CardIsLink)
            {
                string cardTitle = default;
                <a asp-controller="@card.CardLinkController" asp-action="@card.CardLinkAction">
                    <div class="card">
                        @if (card.CardHasHeader)
                        {
                            <header class="card-header ">
                                @foreach (var cardHeadContent in card.CardHeaderContent)
                                {
                                    <span class="card-header-title is-centered">@cardHeadContent.ToUpper()</span>
                                }
                            </header>
                            cardTitle = card.CardHeaderContent[0];
                        }
                        @foreach (var cardContent in card.CardContent)
                        {
                            <div class="card-content is-hidden-touch">
                                <div class="content">
                                    @if (cardContent.IndexOf(".png", StringComparison.CurrentCulture) != -1)
                                    {
                                        <div class="media">
                                            <figure class="image displayed">
                                                <img src="~/Resources/CardImage/@cardContent" alt="@cardTitle" asp-append-version="true"/>
                                            </figure>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </a>
            }
        </div>
    }
</div>