@model IList<CardViewModel>
    <div class="columns is-multiline">
        @foreach (var card in @Model)
        {
            <div class="column is-one-quarter column-card">
            <a asp-controller="@card.AspController" asp-action="@card.AspAction">
                    <div class="card">
                        <header class="card-header ">
                            <span class="card-header-title is-centered">@card.ScreenName</span>
                        </header>
                        <div class="card-content is-hidden-touch">
                            <div class="media">
                                <figure class="image displayed">
                                        <img  src="~/Resources/CardImage/@card.Image" alt="@card.ScreenName" asp-append-version="true"/>
                                    </figure>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
