@model OrderViewModel

@{
    Layout = "_LayoutMakeOrder";
    ViewData["Title"] = "Вызвать мастера";
}

<div class="container">
    <form asp-antiforgery="true" novalidate asp-controller="Service" asp-action="MakeOrder" method="post">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="field">
            <div class="columns">
                <div class="column is-full">
                    <label class="label" asp-for="CustomerName"></label>
                    <div class="control">
                        <input class="input" type="text" name="CustomerName" asp-for="CustomerName"
                               placeholder="Как к Вам обращаться" />
                    </div>
                    <span asp-validation-for="CustomerName" class="has-text-danger"></span>
                </div>
            </div>
            <div class="field">
                <div class="columns">
                    <div class="column is-one-third">
                        <label class="label" asp-for="PhoneNumber"></label>
                        <div class="control">
                            <input class="input phone-number" type="tel" name="PhoneNumber" asp-for="PhoneNumber"
                                   placeholder="Ваш номер телефона" />
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <label class="label" asp-for="AnotherPhoneNumber"></label>
                        <div class="control">
                            <input class="input phone-number" type="tel" name="PhoneNumber" asp-for="AnotherPhoneNumber"
                                   placeholder="Рекомендуем указать номер WhatsApp" />
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <label class="label" asp-for="Email"></label>
                        <div class="control">
                            <input class="input" type="email" name="Email" asp-for="Email"
                                   placeholder="Ваш адрес электронной почты" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="columns">
                    <div class="column is-one-third">
                        <label class="label" asp-for="Territory"></label>
                        <div class="select">
                            <select name="Territory" id="territory">
                                <option disabled selected>Выберите край/область</option>
                                <option value="Ставропольский край">Ставропольский край</option>
                            </select>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <label class="label" asp-for="District"></label>
                        <div class="select" id="district-to-replace">
                            <select name="District">
                                <option>Район/округ/городской округ</option>
                            </select>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <label class="label" asp-for="PopulatedArea"></label>
                        <div class="select" id="populated-area-to-replace">
                            <select name="PopulatedArea">
                                <option>Населенный пункт</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="columns">
                    <div class="column is-one-third">
                        <label class="label" asp-for="Street"></label>
                        <div class="select" id="street-to-replace">
                            <select name="Street">
                                <option>Улица/проспект/переулок</option>
                            </select>
                        </div>
                    </div>
                   <div class="column is-one-third">
                        <label class="label" asp-for="HouseNumber"></label>
                        <div class="control">
                            <input class="input" type="text" name="HouseNumber" asp-for="HouseNumber"
                                   placeholder="Номер дома/строения" />
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <label class="label" asp-for="ApartmentOrOffice"></label>
                        <div class="control">
                            <input class="input" type="text" name="ApartmentOrOffice" asp-for="ApartmentOrOffice"
                                   placeholder="Номер квартиры/офиса" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="columns">
                    <div class="column is-full">
                        <label class="label" asp-for="TypeOfFailure"></label>
                        <div class="select">
                            <select name="TypeOfFailure">
                                @*<option>
                                    Причина вызова мастера (если причины нет в списке, выберите 'Прочее')
                                </option>*@
                                <vc:type-of-failure-vc/>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="columns">
                    <div class="column is-full">
                        <label class="label" asp-for="Description"></label>
                        <div class="control">
                            <textarea class="textarea" id="description-content" name="Content" asp-for="Description" data-length="280" rows="4" maxlength="280" minlenght="20" placeholder="Краткое описание причины вызова (максимум 280 символов)" style="resize: none"></textarea>
                            <div><span asp-validation-for="Description" class="has-text-danger"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="columns">
                    <div class="column is-one-third">
                        <label class="label" asp-for="VisitTime"></label>
                        <div class="control">
                            <input type="text" id="datepicker" class=" input datepicker-here" data-position="top center" data-timepicker="true" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="columns">
                    <div class="column is-full">
                        <label class="label" asp-for="SpecialInstruction"></label>
                        <div class="control">
                            <textarea class="textarea" id="special-instruction-content" name="Content" asp-for="SpecialInstruction"
                                      data-length="280" rows="4" maxlength="280" minlenght="20"
                                      placeholder="Дополнительные сведения(схема проезда, код домофона и т.д.) (максимум 280 символов)" style="resize: none"></textarea>
                            <div><span asp-validation-for="SpecialInstruction" class="has-text-danger"></span></div>
                            <label class="checkbox">
                                <input id="privacy-policy" asp-for="IsAdoptedPrivacyPolicy" class="has-text-danger" />
                                Я принимаю <a href="~/Resources/Files/Политика конфиденциальности.pdf">Политику конфиденциальности</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-full">
                    <div class=" field is-grouped">
                        <div class="control">
                            <button name="make-order-submit-form" class="button is-primary">Отправить</button>
                        </div>
                        <div class="control">
                            <button class="button is-primary is-light" type="reset">Очистить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts
{
    <script>
        var companyProject = companyProject || {};
        companyProject.Urls = companyProject.Urls || {};
        companyProject.Urls.baseUrl = '@Url.Content("~")';
        companyProject.Urls.GetPartOfAddress= '@Url.Action("GetPartOfAddress", "Service")';
    </script>
}

