@model OrderViewModel

@{
    Layout = "_LayoutMakeOrder";
    ViewData["Title"] = "Вызвать мастера";
}

<div class="container" id="makeOrderContainer">
    @*<form id="make-order" asp-antiforgery="true" novalidate asp-controller="Service" asp-action="MakeOrderConfirm" 
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-success="SuccessData"
          data-ajax-failure="Failure"
          >*@
    <form id="make-order" asp-antiforgery="true" novalidate method="post">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="field">
            <div class="columns">
                <div class="column is-full">
                    <label class="label" asp-for="CustomerName"></label>
                    <div class="control">
                        <input class="input" type="text" asp-for="CustomerName"
                               placeholder="Как к Вам обращаться" />
                        <span asp-validation-for="CustomerName" class="has-text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="field">
                <div class="columns">
                    <div class="column is-one-third">
                        <label class="label" asp-for="PhoneNumber"></label>
                        <div class="control">
                            <input class="input phone-number" type="tel" asp-for="PhoneNumber"
                                   placeholder="Ваш номер телефона" />
                        </div>
                        <span asp-validation-for="PhoneNumber" class="has-text-danger"></span>
                    </div>
                    <div class="column is-one-third">
                        <label class="label" asp-for="AnotherPhoneNumber"></label>
                        <div class="control">
                            <input class="input phone-number" type="tel" asp-for="AnotherPhoneNumber"
                                   placeholder="Рекомендуем указать номер WhatsApp"  value=""/>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <label class="label" asp-for="Email"></label>
                        <div class="control">
                            <input class="input" type="email" asp-for="Email"
                                   placeholder="Ваш адрес электронной почты" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="columns">
                    <div class="column is-one-third">
                        <label class="label" asp-for="Territory"></label>
                        <div class="select">
                            <select asp-for="Territory">
                                <option disabled selected value="">Выберите край/область</option>
                                <option value="Ставропольский край">Ставропольский край</option>
                            </select>
                            <span asp-validation-for="Territory" class="has-text-danger"></span>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <label class="label" asp-for="District"></label>
                        <div class="select">
                            <select asp-for="District">
                                <option disabled selected value="">Район/округ/городской округ</option>
                            </select>
                            <span asp-validation-for="District" class="has-text-danger"></span>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <label class="label" asp-for="PopulatedArea"></label>
                        <div class="select">
                            <select asp-for="PopulatedArea">
                                <option disabled selected value="">Населенный пункт</option>
                            </select>
                            <span asp-validation-for="PopulatedArea" class="has-text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="columns">
                    <div class="column is-one-third">
                        <label class="label" asp-for="Street"></label>
                        <div class="select">
                            <select asp-for="Street">
                                <option disabled selected value="">Улица/проспект/переулок</option>
                            </select>
                            <span asp-validation-for="Street" class="has-text-danger"></span>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <label class="label" asp-for="HouseNumber"></label>
                        <div class="control">
                            <input class="input" type="text" name="HouseNumber" asp-for="HouseNumber"
                                   placeholder="Номер дома/строения" />
                            <span asp-validation-for="HouseNumber" class="has-text-danger"></span>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <label class="label" asp-for="ApartmentOrOffice"></label>
                        <div class="control">
                            <input class="input" type="text" name="ApartmentOrOffice" asp-for="ApartmentOrOffice"
                                   placeholder="Номер квартиры/офиса" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="columns">
                    <div class="column is-full">
                        <label class="label" asp-for="TypeOfFailure"></label>
                        <div class="select">
                            <select asp-for="TypeOfFailure">
                                <vc:type-of-failure-vc />
                            </select>
                            <span asp-validation-for="TypeOfFailure" class="has-text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="columns">
                    <div class="column is-full">
                        <label class="label" asp-for="Description"></label>
                        <div class="control">
                            <textarea class="textarea" id="description-content" name="Content" asp-for="Description" data-length="280" rows="4" maxlength="280" minlenght="20" placeholder="Краткое описание причины вызова (максимум 280 символов)" style="resize: none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="columns">
                    <div class="column is-one-third">
                        <label class="label" asp-for="VisitTime"></label>
                        <div class="control">
                            <input type="text" asp-for="VisitTime" class=" input datepicker-here" data-position="top center" data-timepicker="true"/>
                            <span asp-validation-for="VisitTime" class="has-text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="columns">
                    <div class="column is-full">
                        <label class="label" asp-for="SpecialInstruction"></label>
                        <div class="control">
                            <textarea class="textarea" id="special-instruction-content" name="Content" asp-for="SpecialInstruction"
                                      data-length="280" rows="4" maxlength="280"
                                      placeholder="Дополнительные сведения(схема проезда, код домофона и т.д.) (максимум 280 символов)" style="resize: none"></textarea>
                            <label class="checkbox">
                                <input asp-for="IsAdoptedPrivacyPolicy" class="has-text-danger" />
                                Я принимаю <a href="~/Resources/Files/Политика конфиденциальности.pdf">Политику конфиденциальности</a>
                            </label>
                            @*<span asp-validation-for="IsAdoptedPrivacyPolicy" class="has-text-danger"></span>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-full">
                    <div class=" field is-grouped">
                        <div class="control">
                            <button name="CheckingData" id="checking-data" class="button is-primary">Далее</button>
                        </div>
                        <div class="control">
                            <button class="button is-primary is-light" type="reset">Очистить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="modalContent"></div>
@section Scripts
{
    <script>
        var companyProject = companyProject || {};
        companyProject.Urls = companyProject.Urls || {};
        companyProject.Urls.baseUrl = '@Url.Content("~")';
        companyProject.Urls.GetPartOfAddress = '@Url.Action("GetPartOfAddress", "Service")';
        companyProject.Urls.MakeOrderConfirm = '@Url.Action("MakeOrderConfirm", "Service")';
    </script>
}

