@model OrderViewModel

<label class="label" asp-for=@Model></label>
<div class="control">
    <input class="input" type="text" name="@Model" asp-for=@Model
           placeholder="Как к Вам обращаться" />
</div>
<span asp-validation-for=@Model class="has-text-danger"></span>

