<div class="columns is-vcentered">
    <div class="column is-half">
        <vc:blockquote-section name="NeedHelp" />
    </div>
    <div class="column is-half is-hidden-touch">
        <div class="image displayed" style="max-width: 60%;">
        <img src="~/Resources/Images/computer_devushka.png" asp-append-version="true"/>
    </div>
    </div>
</div>
