@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Jura:400,700|Open+Sans:400,700&subset=cyrillic,cyrillic-ext');

.font-title {
    font: {
        style: normal;
        variant-caps: normal;
        weight: bold;
        stretch: normal;
        size: 31px;
        family: 'Jura', sans-serif;
        size-adjust: none; 
        kerning: auto;
        optical-sizing: auto;
        variant-alternates: normal;
        variant-east-asian: normal;
        variant-ligatures: normal;
        variant-numeric: normal;
        variant-position: normal;
        language-override: normal;
        feature-settings: normal;
        variation-settings: normal;
    }
    color: black;
}
.font-tel {
    font:{
    style: normal;
    variant-caps: normal;
    weight: bold;
    stretch: normal;
    size: 24px;
    family: "Open Sans", sans-serif;
    size-adjust: none;
    kerning: auto;
    optical-sizing: auto;
    variant-alternates: normal;
    variant-east-asian: normal;
    variant-ligatures: normal;
    variant-numeric: normal;
    variant-position: normal;
    language-override: normal;
    feature-settings: normal;
    variation-settings: normal;
    }
    color: #d81b60
}
.font-navbar {
    font: {
    size: 22px;
    family: 'Jura';
    weight: bold;
    }
}
.font-content {
    line-height: 26px;
    color: #4c4c4c;
}
.card-ml {
    margin-left: 5rem !important;
}
input.input-validation-error, textarea.input-validation-error {
    border: 1px solid red;
}


u:hover {
    text-decoration: none;
}

.color-title {
    color: #d81b60;
}

.term {
    border-bottom: 1px dashed black;
    /* Параметры линии */
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*text-align: justify;*/
}
body >footer {
    margin-top: auto;
}

.blockquote-style {
    display: none;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-left-color: #d81b60;
    padding-bottom: 20px;
    padding-top: 20px;
}

#button {
    display: inline-block;
    background-color: #d81b60;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 2px;
    right: 50px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;

    &:hover {
        cursor: pointer;
        background-color: #f06292;
    }

    &:active {
        background-color: #ad1457;
    }

    &::after {
        content: "\f062";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: #fff;
    }

    &.show {
        opacity: 0.5;
        visibility: visible;
    }
}

.displayed {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
/*input {
    &.input-validation-error {
        border: 1px solid hsl(348, 100%, 61%);
    }
}
select {
    &.input-validation-error {
        border-color: red;
    }
}*/
input.input-validation-error,
select.input-validation-error {
    border-color: hsl(348, 100%, 61%) !important;
}


/*.columns > div, article {
    background: #ddd;
    border: 1px solid #fff;
}*/

$primary: #d81b60;
$footer-background-color: #3273dc; 
$footer-padding: 1rem 0.25rem 0.75rem;
@import "C:/Users/noiro/Source/Repos/uvitekskmv/UviteksKMV/wwwroot/lib/bulma/bulma.sass";
      
      