<section class="section ">
    <div class="container is-clipped">
        <div id="slider">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-16by9 is-covered">
                        <img src="~/Resources/Images/AboutCarousel/oscilloscope.jpg"
                             alt="Осциллограф" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="item__title">
                        <b>Осциллограф</b>
                    </div>
                    <div class="item__description">
                        Осциллограф помогает нам увидеть скрытые процессы, идущие в ремонтируемой технике
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <figure class="image is-16by9 is-covered">
                        <img src="~/Resources/Images/AboutCarousel/microscope.jpg" alt="Цифровой микроскоп" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="item__title">
                        <b>Цифровой микроскоп</b>
                    </div>
                    <div class="item__description">
                        Цифрового микроскопа дает возможность увидеть мельчайшие детали устройства"
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <figure class="image is-16by9 is-covered">
                        <img src="~/Resources/Images/AboutCarousel/post-card.jpg" alt="POST-карта" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="item__title">
                        <b>Диагностические POST-карты</b>
                    </div>
                    <div class="item__description">
                        POST-карта необходима для определения неисправного компонента
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <figure class="image is-16by9 is-covered">
                        <img src="~/Resources/Images/AboutCarousel/power-lab.jpg" alt="Лабораторные блоки питания" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="item__title">
                        <b>Лабораторные блоки питания</b>
                    </div>
                    <div class="item__description">
                        Лабораторные блоки питания позволяют питать устройства стабилизированным напряжением
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <figure class="image is-16by9 is-covered">
                        <img src="~/Resources/Images/AboutCarousel/soldering-station.jpg" alt="Паяльные станции" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="item__title">
                        <b>Паяльные станции</b>
                    </div>
                    <div class="item__description">
                        Снять, установить радиоэлектронные компоненты помогут паяльные станции
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <figure class="image is-16by9 is-covered">
                        <img src="~/Resources/Images/AboutCarousel/test-components-pc.jpg" alt="Тестовые запчасти" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="item__title">
                        <b>Тестовые запчасти</b>
                    </div>
                    <div class="item__description">
                        Тестовые запчасти позволяю произвести блочную диагностику устройства
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <figure class="image is-16by9 is-covered">
                        <img src="~/Resources/Images/AboutCarousel/ultra-sound-bath.jpg" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="item__title">
                        <b>Ультразвуковая ванна</b>
                    </div>
                    <div class="item__description">
                        Бороться с залитыми платами и окислениями можно с помощью ультразвуковой ванны
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
