@model IDictionary<string, string>
<div class="field">
    @foreach (var field in Model)
    {
        <label class="label"> @field.Key</label>
        @if (field.Key == "Ваш номер заказа:")
        {
            <p>@field.Value</p>
        }
        else
        {
            <p>@field.Value рублей</p>
        }
        <hr style="margin-top: 0px" />
    }
    <p class="is-size-7">В стоимость услуг <b>не включена</b> стоимость компьютерных комплектующих, расходных материалов, а также всех прочих запасных частей, необходимых для выполнения указанных работ.</p>
    <p class="is-size-7">Указанная стоимость услуг является <b>ориентировочной</b>. Окончательная стоимость определяется после диагностики оборудования.</p>
    <p class="is-size-7">В случае если по каким-либо причинам невозможно произвести восстановление данных, то с заказчика услуги <b>взымается стоимость понесенных затрат (диагностики) в размере 1000 (одной тысячи) рублей.</b> </p>

    <p class="is-size-7">Не является офертой.</p><br />
</div>