@model IDictionary<string, string>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p id="modal-title" class="modal-card-title">Проверьте введенные данные</p>
            <button class="delete" id="closetop" onclick="MakeOrderConfirmModalWindow('close')"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <div id="modal-data" class="container">
                    <div class="field">
                        @foreach (var field in Model)
                        {
                            <label class="label"> @field.Key</label>
                            <p>@field.Value</p>
                            <hr style="margin-top: 0px"/>
                        }
                    </div>
                </div>
            </div>
        </section>
        <footer id="modal-card-footer" class="modal-card-foot">
            <button id="button-confirm" class="button is-info" onclick="MakeOrderConfirmModalWindow('makeOrderConfirm')">Вызвать мастера</button>
            <button id="button-edit" class="button is-info" onclick="MakeOrderConfirmModalWindow('edit')">Редактировать</button>
            <button id="button-close" class="button is-danger" onclick="MakeOrderConfirmModalWindow('close')">Закрыть</button>
        </footer>
    </div>
</div>