@model OrderViewModel
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Проверте введенные данные</p>
            <button class="delete" id="closetop" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <div class="container">
                    <label class="label" asp-for="CustomerName"></label>
                    <p>@Model.CustomerName</p>
                    <hr />
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info">Yes</button>
            <button class="button is-info">No</button>
            <button class="button is-danger" id="closebtn">Close</button>
        </footer>
    </div>

</div>