<div class="modal-content left-align">
    <h4>Политика конфиденциальности</h4>
    <p> Администрация портала https://www.uvitekskmv/ (далее по тексту — Портал) относится к правам Пользователей нашего Портала с уважением.</p>
    <p>Посещая Портал и регистрируясь на нем в качестве Пользователя, Вы полностью соглашаетесь с данной Политикой конфиденциальности.</p>
    <p>Основные положения нашей Политики конфиденциальности формулируются следующим образом:</p>
    <ul class="browser-default">
        <li>Ваша персональная информация не передается третьим лицам;</li>
        <li>Ваша контактная информация не передается без Вашего согласия.</li>
    </ul>
    <span>Полный текст "Политики конфиденциальности" доступен по ссылке:</span>
    <a asp-controller="Service" asp-action="GetConfidentialFileResult">прочитать</a>
</div>
<div class="modal-footer">
    <a href="https://ya.ru/" class="modal-close waves-effect waves-light btn-flat">Отказаться</a>
    <a asp-controller="Home" asp-action="Index" class="modal-close waves-effect waves-light btn-flat">Принять</a>
</div>