<div class="container">
    <div class="row">
        <div class="col xl6 l6 m12 s12 hide-on-med-and-down">
            <vc:blockquote-section name="SendMessage" />
            <vc:blockquote-section name="NeedHelp" />
        </div>
        <div class="col xl6 l6 m12 s12 center"> <br /><br />
            <b class="flowText center">Задайте вопрос специалисту</b><br />
            <span class="center">Просто напишите вопрос в этой форме, и мы ответим в самое ближайшее время.</span>
            <vc:message-form/>
            
        </div>
    </div>
</div>